body {
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1558021212-51b6ecfa0db9?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzl8fHN0dWRlbnQlMjByZWdpc3RyYXRpb24lMjBmb3JtfGVufDB8fDB8fHww');
    background-size: cover;
    color: white;
}

.container {
    padding: 5px;
    width: 500px;
    margin: 0 auto;
}

label {
    text-align: left;
}

